name: Build and Deploy Quarto Website
run-name: ${{ github.event_name }} on ${{ github.ref_name }} by @${{ github.actor }}

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions: {}
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-deploy:
    name: Build and Deploy Quarto Slides
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 5
    permissions:
      contents: write
    env:
      TZ: 'Asia/Tokyo'
    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@8a96df13519ee81fd526f2dfca5962811136661b # v2.2.0
      # - name: (Optional) Set up Python
      #   uses: actions/setup-python@v5
      # - name: (Optional) Set up Jupyter
      #   run: |
      #     python3 -m pip install jupyter
      - name: Render Quarto Website
        run: |
          quarto render
      - name: Deploy to HTML branch
        uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23 # v4.7.4
        with:
          folder: _output
          branch: html
          clean: true
